
<div>
<form>
        <input type="text" name="name" [(ngModel)]="name"/>
</form>
Name:{{name}}
<table>
    <thead>
            <td>id</td>
            <td>first name</td>
            <td>Details</td>
    </thead>
    <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.first_name}}</td>
    <td><button (click)="test(employee.id)">click here for details</button>
    </td>
     </tr>
</table>
        <employee-details [employee]="selectedEmployee"></employee-details>

</div>
